/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    margin-top: 20px;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
#playerListCont{
  width: 100vw;
  height: calc(100vh - 160px);
}
#playerListCont .player {
  height: calc((100vh - 160px) / 10);
  line-height: calc((100vh - 160px) / 10);
  padding-left: 10px;
  font-size: 18px;
  color: white;
  opacity: 0;
}
#playerListCont #player1 {
  background-color: #1abc9c;
}
#playerListCont #player2 {
  background-color: #f1c40f;
}
#playerListCont #player3 {
  background-color: #2ecc71;
}
#playerListCont #player4 {
  background-color: #e67e22;
}
#playerListCont #player5 {
  background-color: #3498db;
}
#playerListCont #player6 {
  background-color: #e74c3c;
}
#playerListCont #player7 {
  background-color: #9b59b6;
}
#playerListCont #player8 {
  background-color: #f39c12;
}
#playerListCont #player9 {
  background-color: #c0392b;
}
#playerListCont #player10 {
  background-color: #2980b9;
}
#insertPlayerCont{
  width: 100vw;
  height: 70px;
  background-color: #ecf0f1;
  position: absolute;
  bottom: 70px;
  -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.1);
box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.1);
}
#startBtn {
  width: 100vw;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: #2ecc71;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 30px;
}
#playerName {
  height: 70px;
  width: 80vw;
  border: none;
  float: left;
  outline: none;
  padding-left: 20px;
  font-size: 25px;
  color: gray;
}
#playerAdd {
  width: calc(20vw - 20px);
  float: left;
  height: 70px;
  border: none;
  background-color: #2ECC71;
}
#playerAdd:hover {
  opacity: 0.7;
  cursor: pointer;
}
#playerAdd:active {
  opacity: 0.7;
  cursor: pointer;
}
